<% if tickets.empty? %>
  Please select a ticket!
<% else %> 
  <% tickets.each do |movie_name, showtimes_to_tickets| %>
    <h2> <%= movie_name %> </h2>
    <% showtimes_to_tickets.each do |showtime, tickets| %>
      <h4> <%= showtime %> </h4>
      <ul>
        <% tickets.each do |ticket| %>
          <li> Seat <%= ticket.seat.number %> in <%= ticket.seat.theatre.name %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
